---

---
## Tarefa 3.3 - Análise Exploratória e Estatística Descritiva

Esta tarefa consiste em praticar a manipulação de um *dataframe* por meio da biblioteca Pandas e explorar por meio de métodos de descrição paramétrica (medidas estatísticas) o conjunto de dados *Hourly Wages*.

Você deve implementar em Python os itens solicitados abaixo utilizando a biblioteca Pandas e outras que forem necessárias. 

---



---

## Conjunto de dados *Hourly Wages*

Esse conjunto de dados é popularmente empregado para a tarefa de regressão em Machine Learning. Constrói-se e ajusta-se um modelo de aprendizado de máquina para predizer/estimar o salário de um funcionário em função de suas características (anos de estudos, experiência de trabalho, filiação sindical, região, ocupação e sexo). 

- Número de Instâncias: 534

- Número de Atributos: 9 atributos numéricos e o target (*wage_per_hour*)

- Informações dos Atributos:
  - union (filiação sindical)
  - education_yrs (anos de instrução)
  - experience_yrs (anos de experiência)
  - age (idade)
  - female (sexo)
  - marr (estado civil - casado)
  - south (região)
  - manufacturing (indústria)
  - construction (construção)

  
- Variável de destino (target): wage_per_hour

## Implementar os itens abaixo:

#### a-) Clonar o repositório de dados da disciplina (DSBD) hospedado no GitHUb.

In [8]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

!git clone "https://github.com/malegopc/DSBD"

fatal: destination path 'DSBD' already exists and is not an empty directory.

#### b-) Ler o dataset "*Hourly_wages/hourly_wages.csv*" como dataframe utilizando a biblioteca Pandas e mostrar as 5 primeiras e as 5 últimas linhas do dataset.

In [27]:
import pandas as pd

df = pd.read_csv('DSBD/Datasets/Hourly_wages/hourly_wages.csv', na_values=['?'])
print('\n5 Primeiros itens do dataframe:')
df.head()
print('\n5 Últimos itens do dataframe:')
df.tail()

#ou apenas o comando df, que ja mostra os 5 primeiros e 5 últimos itens do dataframe
#df

5 Primeiros itens do dataframe:

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

5 Últimos itens do dataframe:

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
529,11.36,0,18,5,29,0,0,0,0,0
530,6.10,0,12,33,51,1,1,0,0,0
531,23.25,1,17,25,48,1,1,0,0,0
532,19.88,1,12,13,31,0,1,1,0,0
533,15.38,0,16,33,55,0,1,0,1,0

#### c-) Verificar se há dados vazios (null) e imprimir o tipo de cada variável/atributo.

In [34]:
print('\nVerificação se há dados vazios(null):\n')
df.isnull().sum()
#linha estética para separar e melhorar visualmente a impressão
print('\n_____________________________________________________________')
print('\nTipo de cada variável(atributo):\n')
df.info()

Verificação se há dados vazios(null):

wage_per_hour     0
union             0
education_yrs     0
experience_yrs    0
age               0
female            0
marr              0
south             0
manufacturing     0
construction      0
dtype: int64

_____________________________________________________________

Tipo de cada variável(atributo):

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534 entries, 0 to 533
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   wage_per_hour   534 non-null    float64
 1   union           534 non-null    int64
 2   education_yrs   534 non-null    int64
 3   experience_yrs  534 non-null    int64
 4   age             534 non-null    int64
 5   female          534 non-null    int64
 6   marr            534 non-null    int64
 7   south           534 non-null    int64
 8   manufacturing   534 non-null    int64
 9   construction    534 non-null    int64
dtypes: float64(1), int64(9)
memory usage: 41.8 KB

#### d-) Obter um resumo da estatística descritiva dos dados utilizando um único comando (função).

In [15]:
df.describe()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
count,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000
mean,9.024064,0.179775,13.018727,17.822097,36.833333,0.458801,0.655431,0.292135,0.185393,0.044944
std,5.139097,0.384360,2.615373,12.379710,11.726573,0.498767,0.475673,0.455170,0.388981,0.207375
min,1.000000,0.000000,2.000000,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.250000,0.000000,12.000000,8.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.780000,0.000000,12.000000,15.000000,35.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,11.250000,0.000000,15.000000,26.000000,44.000000,1.000000,1.000000,1.000000,0.000000,0.000000
max,44.500000,1.000000,18.000000,55.000000,64.000000,1.000000,1.000000,1.000000,1.000000,1.000000

#### e-) Calcule a proporção de funcionários de sexo masculino e feminino.

In [16]:
mulheres = df['female'].sum()
homens = 534 - mulheres

propHomens = (homens/534)*100
propMulheres = (mulheres/534)*100


print('\nA proporção de funcionários de sexo masculino é:', "%.2f"%(propHomens), '%')
print('\nA proporção de funcionários de sexo feminino é:', "%.2f"%(propMulheres), '%')

A proporção de funcionários de sexo masculino é: 54.12 %

A proporção de funcionários de sexo feminino é: 45.88 %

#### f-) Calcule a proporção de casados e solteiros.

In [17]:
casados = df['marr'].sum()
solteiros = 534 - casados

propCasados = (casados/534)*100
propSolteiros = (solteiros/534)*100

print('\nA proporção de casados é:', "%.2f"%(propCasados),'%')
print('\nA proporção de solteiros é:', "%.2f"%(propSolteiros),'%')

A proporção de casados é: 65.54 %

A proporção de solteiros é: 34.46 %

#### g-) Calcule a proporção de funcionários filiados ao sindicato (union).

In [18]:
afiliados = df['union'].sum()

propAfiliados = (afiliados/534)*100

print('\nA proporção de funcionários filiados ao sindicato é:', "%.2f"%(propAfiliados),'%')

A proporção de funcionários filiados ao sindicato é: 17.98 %

#### h-) Calcule as medianas de cada uma das variáveis: anos de educação, anos de experiência e idade.

In [19]:
print(df['education_yrs'].median())
print(df['experience_yrs'].median())
print(df['age'].median())

12.0
15.0
35.0

####i-) Calcule as modas de cada uma das variáveis: anos de educação, anos de experiência e idade.

In [20]:
import statistics

print('Moda anos de educação:', statistics.mode(df['education_yrs']))
print('Moda anos de experiência:', statistics.mode(df['experience_yrs']))
print('Moda da idade:', statistics.mode(df['age']))

Moda anos de educação: 12
Moda anos de experiência: 14
Moda da idade: 32

####j-) Calcule o percentil 90 da variável idade.

In [21]:
import numpy as np

print('Percentil 90 da variável idade:',np.percentile(df['age'], 90))

Percentil 90 da variável idade: 55.0

####k-) Calcule o percentil 10 da variável anos de experiência.

In [22]:
print('Percentil 10 da variável anos de experiência:',np.percentile(df['experience_yrs'], 10))

Percentil 10 da variável anos de experiência: 3.0

####l-) Determine qual atributo apresenta maior variabilidade dentre os atributos: anos de educação, anos de experiência e idade.

In [42]:
from scipy.stats import variation

if (variation(df['education_yrs'], axis = 0) > variation(df['experience_yrs'], axis = 0) and variation(df['education_yrs'], axis = 0) > variation(df['age'], axis = 0)):
    print('\nO atributo que possui a maior variabilidade é o de anos de educação com variação de:',"%.2f"% variation(df['education_yrs'], axis = 0))

elif (variation(df['experience_yrs'], axis = 0) > variation(df['education_yrs'], axis = 0) and variation(df['experience_yrs'], axis = 0)> variation(df['age'], axis = 0)):
  print('\nO atributo que possui a maior variabilidade é o de anos de experiência com variação de:',"%.2f"% variation(df['experience_yrs'], axis = 0))

elif (variation(df['age'], axis = 0) > variation(df['experience_yrs'], axis = 0) and variation(df['age'], axis = 0) > variation(df['education_yrs'], axis = 0)):
  print('\nO atributo que possui a maior variabilidade é o de idade com variação de:',"%.2f"% variation(df['age'], axis = 0))

O atributo que possui a maior variabilidade é o de anos de experiência com variação de: 0.69